extends ../layout

block header
    script(src='/scripts/admin-users.js')
    link(rel='stylesheet', href='/css/admin.css')

block content
    section.section-container.w-100
        .d-flex
            include ../inc/admin-sidebar
            section.admin-main
                h2 Search
                section.section-container
                    form.search-users-form.mb-15(action='/admin-page/users', method='get')
                        .col.mb-15
                            .w-33.mr-10.d-flex
                                label Username:
                                input.search-users-username(type='text', name='username')
                            .w-33.mr-10.d-flex
                                label Level:
                                select(name='user_level')
                                    option
                                    option(value='Newcomer') Newcomer
                                    option(value='Contributor') Contributor
                                    option(value='Unreliable') Unreliable
                                    option(value='Regular') Regular
                                    option(value='Moderator') Moderator
                                    option(value='Administrator') Administrator
                            .w-33.d-flex
                                label.mr-5 Status:
                                select(name='user_status')
                                    option
                                    option(value='Pending') Pending
                                    option(value='Active') Active
                                    option(value='Suspended') Temporary Banned
                                    option(value='Banned') Permanent Banned
                                    option(value='Deleted') Deleted
                        .text-right
                            input(type='submit', value='Search')
                h2 Users
                each u, i in users
                    section.section-container.user-section(id='user-' + u.user_id)
                        header.col
                            h3.users-username [##{u.user_id}] #{u.username} 
                                i.fas.fa-lg.fa-angle-down
                            .d-flex.align-items-start
                                if u.user_status === 'Pending'
                                    span.user-status.user-badge.pending-badge.mr-5 #{u.user_status}
                                else if u.user_status === 'Active'
                                    span.user-status.user-badge.success-badge.mr-5 #{u.user_status}
                                else if u.user_status === 'Suspended'
                                    span.user-status.user-badge.warning-badge.mr-5 #{u.user_status}
                                else if u.user_status === 'Banned'
                                    span.user-status.user-badge.error-badge.mr-5 #{u.user_status}
                                else if u.user_status === 'Deleted'
                                    span.user-status.user-badge.critical-badge.mr-5 #{u.user_status}
                                form.user-privilege-form.mr-5(action='/change-user-privilege', method='POST')
                                    input(type='hidden', name='user_id', value=u.user_id)
                                    - var userSelected = false
                                    - var modSelected = false
                                    - var adminSelected = false
                                    if u.privilege === 0
                                        - userSelected = true
                                    else if u.privilege === 1
                                        - modSelected = true
                                    else if u.privilege === 2
                                        - adminSelected = true
                                    select.privilege-select(name='privilege')
                                        option
                                        option(value='0', selected=userSelected) User
                                        option(value='1', selected=modSelected) Moderator
                                        option(value='2', selected=adminSelected) Administrator
                                form.change-user-status-form.mr-5(action='/change-user-status', method='POST')
                                    input(type='hidden', name='user_id', value=u.user_id)
                                    - var activateSelected = false
                                    - var permSelected = false
                                    - var tempSelected = false
                                    - var deleteSelected = false
                                    if u.user_status === 'Active'
                                        - activateSelected = true
                                    else if u.user_status === 'Banned'
                                        - permSelected = true
                                    else if u.user_status === 'Suspended'
                                        - tempSelected = true
                                    else if u.user_status === 'Deleted'
                                        - deleteSelected = true
                                    select.status-select(name='option')
                                        option
                                        option(value='Active', selected=activateSelected) Active
                                        option(value='Suspended', selected=tempSelected) Temporary Ban
                                        option(value='Banned', selected=permSelected) Permanent Ban
                                        option(value='Deleted', selected=deleteSelected) Delete
                        section.user-details
                            .col.align-items-start
                                .w-15.user-details-profile-pic
                                    img.profile-pic.w-100(src=u.avatar_url)
                                    form.delete-user-profile-pic-form(action='/delete-user-profile-pic', method='POST')
                                        input(type='hidden', name='username', value=u.username)
                                        input(type='hidden', name='user_id', value=u.user_id)
                                        button(type='submit')
                                            i.fas.fa-lg.fa-times
                                .user-fields
                                    .col.w-45
                                        .w-40
                                            b Email:
                                        .w-60 #{u.email}
                                    .col.w-45
                                        .w-40
                                            b Last Login: 
                                        .w-60 #{u.last_login}
                                    .col.w-45
                                        .w-40
                                            b Email Notification: 
                                        if u.receive_email
                                            .w-60 Yes
                                        else
                                            .w-60 No
                                    .col.w-45
                                        .w-40
                                            b Show Online: 
                                        if u.show_online
                                            .w-60 Yes
                                        else
                                            .w-60 No
                                    .col.w-45
                                        .w-40
                                            b Title: 
                                        .w-60
                                            if u.user_level === 'Newcomer'
                                                span.user-badge.user-badge-newcomer Newcomer
                                            else if u.user_level === 'Moderator'
                                                span.user-badge.user-badge-moderator Moderator
                                            else if u.user_level === 'Administrator'
                                                span.user-badge.user-badge-admin Administrator
                                    .col.w-45
                                        .w-40
                                            b Created On: 
                                        .w-60 #{u.user_created}
                                    if u.user_confirmed !== 'Invalid date'
                                        .col.w-45
                                            .w-40
                                                b Confirmed On: 
                                            .w-60 #{u.user_confirmed}