extends ../layout

block header
    script(src='/scripts/admin-categories.js')
    link(rel='stylesheet', href='/css/admin.css')

block content
    section.section-container.w-100
        .d-flex
            include ../inc/admin-sidebar
            section.admin-main
                h2 Create Category
                section.section-container
                    form#create-category-form(action='/create-category', method='POST')
                        .col.mb-15.align-items-center
                            label.mr-10(for='category_name') Category:
                            input.w-100(type='text', name='category')
                        .text-right
                            input(type='submit', value='Create')
                h2 Categories
                section.section-container
                    .pagination-container.mb-15
                    header.header.col
                        .w-5 ID
                        .w-35 Category
                        .w-30 Created On
                        .w-15 Creatd By
                        .w-10.text-center Status
                        .w-5
                    each category, i in categories
                        .col
                            .w-5 #{category.cat_id}
                            .w-35.category-title-container
                                .category-title #{category.category}
                                form.rename-category(action='/rename-category', method='post')
                                    input(type='hidden', name='cat_id', value=category.cat_id)
                                    .d-flex
                                        input(type='text', name='category')
                                        input.cancel-rename-category.ml-10(type='button', value='Cancel')
                            .w-30 #{category.cat_created_on}
                            .w-15 #{category.cat_created_by}
                            .w-10.cat-status.text-center
                                if category.cat_status === 'Open'
                                    span.user-badge.success-badge #{category.cat_status}
                                else
                                    span.user-badge.error-badge #{category.cat_status}
                            .w-5.text-right
                                .status-option-container
                                    i.fas.fa-lg.fa-ellipsis-h.status-option-button
                                    .status-option-menu
                                        .status-option(data-cat-id=category.cat_id) Open
                                        .status-option(data-cat-id=category.cat_id) Close
                    .pagination-container.mt-15