extends ../admin-layout

block admin-header
    script(src='/scripts/admin-overview.js')
    link(rel='stylesheet', href='/css/admin.css')

block content
    section.section-container.w-100
        .d-flex
            include ../inc/admin-sidebar
            section.admin-main
                .d-flex.mb-15
                    .w-50.mr-10.section-container
                        h3
                            i.fas.fa-stream.mr-5
                            | Site Status
                        each config, i in configs
                            section.section-list
                                .list-item
                                    if config.config_name === 'Site'
                                        - var icon = 'fas fa-bullseye mr-5'
                                    else
                                        - var icon = 'fas fa-book mr-5'
                                    label 
                                        i(class=icon)
                                        | #{config.config_name}
                                    if config.status === 'Open'
                                        span.ok-status OPEN
                                    else
                                        span.error-status CLOSED
                        each category, key in categories
                            section.categories-list.section-list
                                header.header.categories-header.col
                                    div !{category['icon']} #{key}
                                    i.fas.fa-lg.fa-angle-down
                                each topic, key in category['topics']
                                    section.topics-list.section-list
                                        header.topics-header.header.col
                                            span #{key}
                                            i.fas.fa-lg.fa-angle-down
                                        each subtopic, key in topic
                                            section.subtopics-list
                                                section.section-list.list-item
                                                    span #{key}
                                                    span #{subtopic} Posts
                    section.w-50.section-container
                        h3
                            i.far.fa-bell.mr-5
                            | Notifications
                        section.section-list
                            h4 June 1, 2018
                            .list-item
                                a(href='#') 
                                    span.error-status 43 
                                    | errors need to be fixed.
                            .list-item
                                a(href='#')
                                    span.error-status 5 
                                    | posts has been reported.
                            .list-item
                                a(href='#')
                                    span.error-status 3 
                                    | user reports have been submitted.