extends ../layout

block header
    script(src='/scripts/index.js')
    link(rel='stylesheet', href='/css/index.css')

block content
    section.section-container
        h2
            i.far.fa-comment-dots.mr-5
            | Forums
        section#forum-list
            each category, cat in categories
                section.category
                    if cat === 'Automotives'
                        - var catClass = ''
                        - var arrowClass = 'fa-angle-up'
                    else
                        - var catClass = 'category-list-parent'
                        - var arrowClass = 'fa-angle-down'
                    .category-bar
                        .d-flex
                            a(href='/forums/' + cat.toLowerCase().replace(' ', '_').replace('/', ''))
                                h3.category-title !{category.icon} #{cat}
                            if category.status === 'Closed'
                                span.user-badge.error-badge.ml-5
                                    i.fas.fa-comment-slash.mr-5
                                    | Closed
                        i.fa.fa-lg(class=arrowClass)
                    section(class=catClass)
                        section.category-list
                            each topic, key in category.topics
                                section.topic-list
                                    - var keyCheck = /General$/
                                    if keyCheck.test(key)
                                        - var topicName = 'General'
                                        - var topicLink = '/subforums/' + key.toLowerCase().replace(' ', '_').replace('/', '') + '/' + key.toLowerCase().replace(' ', '_').replace('/', '')
                                    else
                                        - var topicName = key
                                        - var topicLink = '/subforums/' + key.toLowerCase().replace(' ', '_').replace('/', '')
                                    h4
                                        a(href=topicLink) #{topicName}
                                    each subtopic, i in topic
                                        if !keyCheck.test(i)
                                            .mb-5
                                                a(href='/subforums/' + key.toLowerCase().replace(' ', '_').replace('/', '') + '/' + i.toLowerCase().replace(' ', '_').replace('/', '')) #{i}

        