extends ../layout

block header
    script(src='/scripts/messages.js')
    link(rel='stylesheet', href='/css/messages.css')

block content
    section.section-container
        .d-flex.message-main
            include ../inc/message-nav
            .message-body
                if location === 'compose'
                    form.compose-message(action='/send-message', method='post')
                        .mb-15
                            label
                                i.far.fa-address-book.mr-5
                                | To:
                            input#recipient-input.w-100(type='text', name='username')
                        .mb-15
                            label
                                i.far.fa-comment.mr-5
                                | Subject:
                            input.w-100(type='text', name='subject')
                        .mb-15
                            label
                                i.far.fa-comment-alt.mr-5
                                | Message:
                            textarea.w-100(name='message', rows='10')
                        .text-right
                            button(type='submit').mr-5
                                i.far.fa-share-square.mr-5
                                | Send
                            button(type='reset')
                                i.fas.fa-times.mr-5
                                | Clear
                else
                    section.section-container
                        .mb-15.d-flex
                            .w-90
                                .mb-10.d-flex
                                    label.w-20
                                        i.fas.fa-user.mr-5
                                        | From: 
                                    span
                                        a(href='/profile?u=' + message.sender) #{message.sender}
                                .mb-10.d-flex
                                    label.w-20
                                        i.far.fa-comment.mr-5
                                        | Subject: 
                                    span #{message.subject}
                                .mb-10.d-flex
                                    label.w-20
                                        i.far.fa-calendar-alt.mr-5
                                        | Date: 
                                    span #{message.message_date}
                            .w-10.d-flex.justify-content-end.align-items-center
                                +deleteMessage(message, 'message')
                                include ../inc/save-message
                        .mb-15 !{message.message}
                        if location !== 'outbox'
                            .mb-15.text-right
                                button#reply-button(type='button')
                                    i.fas.fa-reply.mr-5
                                    | Reply
                            .mb-15
                                small
                                    form#report-message(action='/report-message', method='post')
                                        input(type='hidden', name='id', value=message.message_id)
                                        input(type='hidden', name='content', value=message.message)
                                        input(type='hidden', name='type', value='message')
                                        button(type='submit')
                                            small
                                                i.fas.fa-exclamation-triangle.fa-lg.mr-5
                                                span Report
                        form.reply-form(action='/send-message', method='POST')
                            input(type='hidden', name='username', value=message.sender)
                            if message.original_message !== null
                                - var subject = message.subject
                                input(type='hidden', name='original_message', value=message.original_message)
                            else
                                - var subject = 'RE: ' + message.subject
                                input(type='hidden', name='original_message', value=message.message_id)
                            input(type='hidden', name='subject', value=subject)
                            .mb-15
                                input.w-100(type='text', name='alt_subject', value=subject, disabled)
                            .mb-15
                                textarea.w-100(name='message', rows='10')
                            .text-right
                                input.mr-5(type='submit', value='Send')
                                input(type='reset', value='Clear')