extends ../forum-layout

block subforum-header
    link(rel='stylesheet', href='/css/vendor/quill.core.css')
    link(rel='stylesheet', href='/css/vendor/quill.snow.css')
    script(src='/scripts/vendor/quill.js')
    script(src='/scripts/editor.js')
    script(src='/scripts/post-details.js')
    link(rel='stylesheet', href='/css/post-details.css')

block content
    section.section-container
        section.post-details(id='post-' + posts.post.post_id)
            header.d-flex.mb-10
                - let post = posts.post
                .w-10
                    +vote(post, true)(post)
                .w-80
                    h2
                        if posts.post.post_status === 'Closed'
                            span.user-badge.error-badge.mr-5
                                i.fas.fa-comment-slash.mr-5
                                | #{posts.post.post_status}
                        | #{posts.post.post_title}
                    small Posted by 
                        +mod-user(posts.post.post_user, posts.post.user_id, posts.post.last_login, posts.post.user_level)
                        |  #{posts.post.post_created} in 
                        a(href='/forums/' + posts.post.topic_title.toLowerCase().replace(' ', '_')) #{posts.post.topic_title}
                        i.fas.fa-angle-right.ml-5.mr-5
                        a(href='/subforums/' + posts.post.topic_title.toLowerCase().replace(' ', '_') + '/' + posts.post.subtopic_title.toLowerCase().replace(' ', '_')) #{posts.post.subtopic_title}
                        |  as 
                        if post.post_type === 'Discussion'
                            - var postIcon = 'far fa-comments mr-5'
                        else if post.post_type === 'Question'
                            - var postIcon = 'far fa-question-circle mr-5'
                        else if post.post_type === 'Rant'
                            - var postIcon = 'fas fa-exclamation mr-5'
                        span.user-badge.post-tag-badge.mr-5 
                            i(class=postIcon)
                            | #{post.post_type}
                        if posts.post.post_modified !== 'Invalid date'
                            |  | 
                            i.post-edited Edited #{posts.post.post_modified}
                .w-10.follow-div
                    +followPost(user, posts.post)
            .d-flex.justify-content-center
                .w-80
                    section.post-body !{posts.post.post_body}
                    footer
                        +postAction(posts.post, posts.post, 'post')
        section.replies
            if posts.replies.length > 0
                .pagination-container.mb-15
                    .pagination
                        +createPagination(posts.replies[0].count, 10, page, '/posts-detail?pid=' + posts.post.post_id)
            each post, i in posts.replies
                section.reply(id='reply-' + post.post_id)
                    header.col
                        .w-90
                            h4 [##{post.post_id}] #{post.post_title}
                            small Posted by 
                                if post.post_user === posts.post.post_user
                                    mark
                                        +mod-user(post.post_user, post.user_id, post.last_login, post.user_level)
                                else
                                    +mod-user(post.post_user, post.user_id, post.last_login, post.user_level)
                                |  #{post.post_created} in  
                                a(href='/forums/' + posts.post.topic_title.toLowerCase().replace(' ', '_')) #{posts.post.topic_title}
                                i.fas.fa-angle-right.ml-5.mr-5
                                a(href='/subforums/' + posts.post.topic_title.toLowerCase().replace(' ', '_') + '/' + posts.post.subtopic_title.toLowerCase().replace(' ', '_')) #{posts.post.subtopic_title}
                                if post.post_modified !== 'Invalid date'
                                    |  | 
                                    i.post-edited Edited #{post.post_modified}
                        div
                            +vote(post, true)(post)
                    section
                        if post.p2_post_id !== null
                            section.quote
                                header.col.quote-header
                                    h4 Original post by 
                                        if post.p2_post_user === posts.post.post_user
                                            mark
                                                a(href='/profile?u=' + post.p2_post_user) #{post.p2_post_user}
                                        else
                                            a(href='/profile?u=' + post.p2_post_user) #{post.p2_post_user}
                                        |  #{post.p2_post_created} 
                                        button(type='button', onClick='javascript:location.href="/forums/posts/post-details?pid=' + posts.post.post_id + '&rid=' + post.p2_post_id + '"')
                                            i.fa.fa-angle-double-right
                                    i.fas.fa-lg.fa-angle-down
                                section.quote-body
                                    .text-left
                                        i.fas.fa-quote-left
                                    .mx-auto.w-90 #{post.p2_post_body}
                                    .text-right
                                        i.fas.fa-quote-right.ml-auto
                        section.post-body.mb-15 !{post.post_body}
                    footer
                        +postAction(posts.post, post, 'reply')
            if posts.replies.length > 0
                .pagination-container.mb-15
                    .pagination
                        +createPagination(posts.replies[0].count, 10, page, '/posts-detail?pid=' + posts.post.post_id)
                    