extends ../profile-layout

block user-content
    #user-stats.tab-content
        section.col.mb-15
            .section-container.w-25.mr-5.text-center
                h3
                    i.fas.fa-trophy.mr-5
                    | Honors
                span.user-stats 0
            .section-container.w-25.mr-5.text-center
                h3
                    i.far.fa-file-alt.mr-5
                    | Posts
                span.user-stats #{viewing.posts_count}
            .section-container.w-25.mr-5.text-center
                h3
                    i.far.fa-thumbs-up.mr-5
                    | Upvoted
                span.user-stats #{Math.abs(viewing.upvotes)}
            .section-container.w-25.text-center
                h3
                    i.far.fa-thumbs-down.mr-5
                    | Downvoted
                span.user-stats #{Math.abs(viewing.downvotes)}
        section#post-frequency.section-container
            h3
                i.fas.fa-chart-line.mr-5
                | Post Frequency
            - var date = new Date()
            - var year = date.getUTCFullYear()
            b Filter By Month: 
            select#select-month
                option
                option(value='01') January #{year}
                option(value='02') February #{year}
                option(value='03') March #{year}
                option(value='04') April #{year}
                option(value='05') May #{year}
                option(value='06') June #{year}
                option(value='07') July #{year}
                option(value='08') August #{year}
                option(value='09') September #{year}
                option(value='10') October #{year}
                option(value='11') November #{year}
                option(value='12') December #{year}
            canvas#post-frequency-chart.w-100(height='300')
        if user
            if user.user_id === viewing.user_id
                section#violations.section-container
                    h3
                        i.fas.fa-exclamation-triangle.mr-5
                        | VIOLATION HISTORY
                    header.header.col
                        .w-10 ID
                        .w-50 Reason
                        .w-25 Date
                        .w-15 Issued By
                    each violation, i in violations
                        .col
                            .w-10 #{violation.v_id}
                            .w-50 #{violation.violation}
                            .w-25 #{violation.v_date}
                            .w-15 #{violation.username}