extends ../layout

block header
    script(src='/scripts/vendor/Chart.js')
    script(src='/scripts/profile.js')
    link(rel='stylesheet', href='/css/profile.css')

block content
    section.section-container
        h2 Profile
        section.profile-body
            .w-20
                .profile-pic-div
                    img.profile-pic(src=viewing.avatar_url)
                    if user
                        if viewing.user_level === 'Newcomer'
                            span.user-badge.user-badge-newcomer #{viewing.user_level}
                        else if viewing.user_level === 'Owner'
                            span.user-badge.user-badge-owner #{viewing.user_level}
                        if user.user_id === viewing.user_id
                            form#upload-profile-pic-form(action='/upload-profile-pic', method='POST', enctype='multipart/form-data')
                                input#upload-profile-pic-input(type='file', name='profile_pic')
                                button#upload-profile-pic-button.btn-round(type='button')
                                    i.fas.fa-2x.fa-plus.m-5(aria-hidden=true)
                h4 USERNAME:                        
                .profile-field #{viewing.username}
                if viewing.hide_email
                    h4 EMAIL:
                    .profile-field #{viewing.email}
                h4 STATUS:
                .profile-field.capitalize
                    if viewing.user_status === 'Pending'
                        span.user-badge.warning-badge #{viewing.user_status}
                    else if viewing.user_status === 'Active'
                        span.user-badge.success-badge #{viewing.user_status}
                    else if viewing.user_status === 'Banned'
                        span.user-badge.error-badge #{viewing.user_status}
                    else if viewing.user_status === 'Deleted'
                        span.user-badge.critical-badge #{viewing.user_status}
                h4 LAST LOGIN:
                .profile-field #{viewing.last_login}
            section.tab-container
                nav.tab-bar
                    a.tab-link-button.active(href='#', data-id='user-stats')
                        h4 STATS
                    if user
                        if user.user_id === viewing.user_id
                            a.tab-link-button(href='#', data-id='user-posts')
                                h4 POSTS
                            a.tab-link-button(href='#', data-id='user-replies')
                                h4 REPLIES
                            a.tab-link-button(href='#', data-id='user-followed-posts')
                                h4 FOLLOWED POSTS
                            a.tab-link-button(href='#', data-id='user-friends')
                                h4 FRIENDS
                #user-stats.tab-content
                    section.col.mb-15
                        .section-container.w-25.mr-5.text-center
                            h3 Total Honors
                            span.user-stats
                        .section-container.w-25.mr-5.text-center
                            h3 Total Posts
                            span.user-stats #{viewing.posts_count}
                        .section-container.w-25.mr-5.text-center
                            h3 Total Upvotes
                            span.user-stats #{Math.abs(viewing.upvotes)}
                        .section-container.w-25.text-center
                            h3 Total Downvotes
                            span.user-stats #{Math.abs(viewing.downvotes)}
                    section#post-frequency.section-container
                        h3 Post Frequency
                        canvas#post-frequency-chart.w-100(height='300')
                    if user
                        if user.user_id === viewing.user_id
                            section#violations.section-container
                                h3 VIOLATION HISTORY
                                header.header.col
                                    .w-10 ID
                                    .w-50 Reason
                                    .w-25 Date
                                    .w-15 Issued By
                                each violation, i in violations
                                    .col
                                        .w-10 #{violation.v_id}
                                        .w-50 #{violation.violation}
                                        .w-25 #{violation.v_date}
                                        .w-15 #{violation.username}
                if user
                        if user.user_id === viewing.user_id
                            section#user-posts.tab-content
                                .profile-posts-pagination
                                #user-posts-content
                                .profile-posts-pagination
                            section#user-replies.tab-content
                                .profile-replies-pagination
                                #user-replies-content
                                .profile-replies-pagination
                            section#user-followed-posts.tab-content
                                .profile-followed-pagination
                                #user-followed-content
                                .profile-followed-pagination
                            #user-friends.tab-content