extends layout

block header
    script(src='/scripts/vendor/Chart.js')
    script(src='/scripts/profile.js')
    link(rel='stylesheet', href='/css/profile.css')

block content
    section.section-container
        h2
            i.far.fa-user-circle.mr-5
            | Profile
        section.profile-body
            .w-20
                .profile-pic-div
                    .profile-pic(style=`background: url(${viewing.avatar_url}); background-position: center top; background-size: cover; background-repeat: no-repeat;`)
                    //-img.profile-pic(src=viewing.avatar_url)
                    if user
                        if viewing.user_level === 'Newcomer'
                            span.user-badge.user-badge-newcomer #{viewing.user_level}
                        else if viewing.user_level === 'Owner'
                            span.user-badge.user-badge-owner #{viewing.user_level}
                        if user.user_id === viewing.user_id
                            form#upload-profile-pic-form(action='/upload-profile-pic', method='POST', enctype='multipart/form-data')
                                input#upload-profile-pic-input(type='file', name='profile_pic')
                                button#upload-profile-pic-button.btn-round(type='button')
                                    i.fas.fa-lg.fa-plus.m-5(aria-hidden=true)
                h4
                    i.fas.fa-user.mr-5
                    | USERNAME:                        
                .profile-field #{viewing.username}
                if viewing.hide_email
                    h4
                        i.fas.fa-envelope.mr-5
                        | EMAIL:
                    .profile-field #{viewing.email}
                h4
                    i.fas.fa-plug.mr-5
                    | STATUS:
                .profile-field.capitalize
                    if viewing.user_status === 'Pending'
                        span.user-badge.warning-badge #{viewing.user_status}
                    else if viewing.user_status === 'Active'
                        span.user-badge.success-badge #{viewing.user_status}
                    else if viewing.user_status === 'Banned'
                        span.user-badge.error-badge #{viewing.user_status}
                    else if viewing.user_status === 'Deleted'
                        span.user-badge.critical-badge #{viewing.user_status}
                h4
                    i.fas.fa-user-clock.mr-5
                    | LAST LOGIN:
                .profile-field #{viewing.last_login}
            section.tab-container
                nav.tab-bar
                    - var statsClass = ''
                    - var postsClass = ''
                    - var repliesClass = ''
                    - var followedClass = ''
                    - var friendsClass = ''
                    if title === 'User - Profile'
                        - statsClass = 'active'
                    else if title === 'User - Posts'
                        - postsClass = 'active'
                    else if title === 'User - Replies'
                        - repliesClass = 'active'
                    else if title === 'User - Followed Posts'
                        - followedClass = 'active'
                    else if title === 'User - Friends'
                        - friendsClass = 'active'
                    a.tab-link-button(href='/profile?u=' + viewing.username, data-id='user-stats', class=statsClass)
                        h4
                            i.fas.fa-chart-bar.mr-5
                            | STATS
                    if user
                        if user.user_id === viewing.user_id
                            a#user-posts-button.tab-link-button(href='/profile/posts', class=postsClass)
                                h4
                                    i.far.fa-file-alt.mr-5
                                    | POSTS
                            a#user-replies-button.tab-link-button(href='/profile/replies', class=repliesClass)
                                h4
                                    i.far.fa-comment-alt.mr-5
                                    | REPLIES
                            a#user-followed-posts-button.tab-link-button(href='/profile/followed', class=followedClass)
                                h4 
                                    i.far.fa-star.mr-5
                                    | FOLLOWED POSTS
                            a#user-friends-button.tab-link-button(href='/profile/friends', class=friendsClass)
                                h4
                                    i.fas.fa-user-friends.mr-5
                                    | FRIENDS
                block user-content
                //-if user
                        if user.user_id === viewing.user_id
                            section#user-posts.tab-content
                                .profile-posts-pagination
                                #user-posts-content
                                .profile-posts-pagination
                            section#user-replies.tab-content
                                .profile-replies-pagination
                                #user-replies-content
                                .profile-replies-pagination
                            section#user-followed-posts.tab-content
                                .profile-followed-pagination
                                #user-followed-content
                                .profile-followed-pagination
                            #user-friends.tab-content
                                .profile-friend-pagination
                                #user-friends-content
                                .profile-friend-pagination