- var overviewClass = ''
- var usersClass = ''
- var postsClass = ''
- var catClass = ''
- var topicsClass = ''
- var configClass = ''
- var reportsClass = ''
if title === 'Admin Overview'
    - overviewClass = 'active'
else if title === 'Admin Users'
    - usersClass = 'active'
else if title === 'Admin Posts'
    - postsClass = 'active'
else if title === 'Admin Categories'
    - catClass = 'active'
else if title === 'Admin Topics'
    - topicsClass = 'active'
else if title === 'Admin Config'
    - configClass = 'active'
else if title === 'Admin Reports'
    - reportsClass = 'active'
aside.w-15.admin-sidebar
    a(href='/admin-page/overview', class=overviewClass) Overview
    a(href='/admin-page/users', class=usersClass) Users
    a(href='/admin-page/posts', class=postsClass) Posts
    a(href='/admin-page/categories', class=catClass) Categories 
    a(href='/admin-page/topics', class=topicsClass) Forums
    a(href='/admin-page/config', class=configClass) Site
    a(href='/admin-page/reports', class=reportsClass) Reports