.col
    .w-10
        +vote(post, true)(post)
    .w-80
        .show-posts
            if post.post_type === 'Discussion'
                - var postIcon = 'far fa-comments mr-5'
            else if post.post_type === 'Question'
                - var postIcon = 'far fa-question-circle mr-5'
            else if post.post_type === 'Rant'
                - var postIcon = 'fas fa-exclamation mr-5'
            span.user-badge.post-tag-badge.mr-5 
                i(class=postIcon)
                | #{post.post_type}
            a(href='/forums/posts/post-details?pid=' + post.post_id + '&page=1') #{post.post_title}
        .forum-post-details
            small Posted by 
                +mod-user(post.post_user, post.user_id, post.last_login, post.user_level)
                |  #{post.post_created} in 
                a(href='/subforums/' + post.topic_title.toLowerCase() + '/' + post.subtopic_title.toLowerCase()) #{post.subtopic_title}
    .w-10.text-right #{post.total_replies} Replies

    //-.w-10
        a(href='/subforums/' + post.topic_title.toLowerCase() + '/' + post.subtopic_title.toLowerCase()) #{post.subtopic_title}
    //-.w-10 #{post.total_replies} Replies
    //-.w-15.d-flex.post-username-column
        +mod-user(post.post_user, post.user_id, post.last_login)
    //-.w-15.text-right #{post.post_created}