.d-flex.mb-5
    .mr-10
        +vote(post)
    .w-85
        .show-posts
            if post.post_type === 'Discussion'
                - var postIcon = 'far fa-comments mr-5'
            else if post.post_type === 'Question'
                - var postIcon = 'far fa-question-circle mr-5'
            else if post.post_type === 'Rant'
                - var postIcon = 'fas fa-exclamation mr-5'
            span.user-badge.post-tag-badge.mr-5
                i(class=postIcon)
                | #{post.post_type}
            a(href='/forums/posts/post-details?pid=' + post.post_id + '&page=1') #{post.post_title}
        .forum-post-details
            small #{post.post_created} |  
                a(href='/subforums/' + post.topic_title.toLowerCase() + '/' + post.subtopic_title.toLowerCase()) #{post.subtopic_title}