- var userSettingClass = ''
- var adminClass = ''
- var messageClass = ''
- var checkTitle = /^Admin/;
if title === 'User Settings'
    - userSettingClass = 'user-panel-icon-highlight';
else if title === 'Messages'
    - messageClass = 'user-panel-icon-highlight';
else if checkTitle.test(title)
    - adminClass = 'user-panel-icon-highlight';


#top-bar
    .title
        h1 #{siteTitle}

    section.user-panel
        if user
            div
                .d-flex.w-60
                    .text-center
                        a(href='/profile?u=' + user.username)
                            .profile-pic(style=`background: url('${user.avatar_url}'); background-position: center top; background-size: cover; background-repeat: no-repeat;`)
                    .ml-10
                        .mb-10.username-profile-link
                            a(href='/profile?u=' + user.username) #{user.username}
                        .d-flex
                            span.notification-icon.mr-10
                                if user.notifications > 0
                                    span.notification-counter #{user.notifications}
                                i.fas.fa-lg.fa-bell.notification-button
                                .notification-container
                                    .mt-10.text-center
                                        a(href='/profile/notifications') See All
                            span.message-icon.mr-10
                                if user.messageCount > 0
                                    span.message-counter #{user.messageCount}
                                a(href='/messages?key=' + user.session_key)
                                    i(class=messageClass + ' fas fa-lg fa-envelope')
                            a.mr-10(href='/user-settings?key=' + user.session_key)
                                i(class=userSettingClass + ' fas fa-lg fa-cog')
                            if user.privilege > 1
                                a.mr-10(href='/admin-page')
                                    i(class=adminClass + ' fas fa-lg fa-user-cog')
                            a.mr-10(href='/logout')
                                i.fas.fa-lg.fa-sign-out-alt
        else
            form#login-form(action='/login', method='post')
                .d-flex
                    .form-group.mr-10
                        .mr-5
                            label(for='email')
                                i.fas.fa-at.mr-5
                                | Email:
                        div
                            input(type='email', name='email', maxlength='100', required)
                    .form-group
                        .mr-5
                            label(for='password')
                                i.fas.fa-key.mr-5
                                | Password:
                        div
                            input(type='password', name='password', minlength='6', maxlength='45', required)
                .d-flex.justify-content-end.align-items-center
                    .text-right.mr-10
                        small
                            a(href='/register') Register
                            |  | 
                            a(href='/forgot-password') Forgot Password
                    .text-right
                        button(type='submit')
                            i.fas.fa-sign-in-alt.mr-5
                            | Login
