extends ../forum-layout

block subforum-header
    script(src='/scripts/functions/posts.js')
    link(rel='stylesheet', href='/css/vendor/quill.core.css')
    link(rel='stylesheet', href='/css/vendor/quill.snow.css')
    script(src='/scripts/vendor/quill.js')
    script(src='/scripts/editor.js')
    script(src='/scripts/posts.js')

block content
    section.section-container
        h2 
            a(href='/forums/' + category.toLowerCase().replace(' ', '_')) #{category}
            i.fas.fa-lg.fa-angle-right.mr-10.ml-10
            - var keyCheck = /General$/
            if !keyCheck.test(topic_title)
                a(href='/subforums/' + topic_title.toLowerCase().replace(' ', '_')) #{topic_title}
                i.fas.fa-lg.fa-angle-right.mr-10.ml-10
            | #{title}
        if user
            if subtopic_status === 'Closed' || category_status === 'Closed'
                .error.mb-15 This category/subtopic is currently closed and is read only. Please check back later.
            else
                .post-control
                    button#new-post-button.mb-15(type='button') NEW POST
                form#post-form(action='/post', method='POST')
                    input(type='hidden', name='subtopic_id', value=subtopic_id)
                    .d-flex.align-items-center.mb-15
                        label(for='title').mr-15 Title
                        input.w-100(type='text', name='title', required)
                    .d-flex.align-items-center.mb-15
                        label(for='tag').mr-15 Tag
                        label.post-type-button.mr-15
                            input(type='radio', name='tag', value='Discussion' required)
                            span Discussion
                                i.ml-10.fas.fa-check
                        label.post-type-button.mr-15
                            input(type='radio', name='tag', value='Question')
                            span Question
                                i.ml-10.fas.fa-check
                        label.post-type-button.mr-15
                            input(type='radio', name='tag', value='Rant')
                            span Rant
                                i.ml-10.fas.fa-check
                    .post-editor.mb-15
                        //-textarea.w-100(name='post_body', rows='10', required, minlength='10')
                    .text-right
                        input.mr-5(type='submit', name='submit_button', value='Submit')
                        input(type='reset', value='Clear')
                    hr.mt-15.mb-15
        if posts.length > 0
            section
                .pagination-container.mb-15
                each post, i in posts
                    .col.forum-post-row
                        .w-10
                            +vote(post)
                        .w-80
                            .show-posts
                                if post.post_type === 'Discussion'
                                    - var postIcon = 'far fa-comments mr-5'
                                else if post.post_type === 'Question'
                                    - var postIcon = 'far fa-question-circle mr-5'
                                else if post.post_type === 'Rant'
                                    - var postIcon = 'fas fa-exclamation-circle mr-5'
                                span.user-badge.pending-badge.mr-5 
                                    i(class=postIcon)
                                    | #{post.post_type}
                                a(href='/forums/posts/post-details?pid=' + post.post_id + '&page=1') #{post.post_title}
                                if post.post_status === 'Closed'
                                    span.user-badge.error-badge.ml-5
                                        i.fas.fa-comment-slash.mr-5
                                        | #{post.post_status}
                            div
                                small Posted by 
                                    +mod-user(post.post_user, post.user_id, post.last_login, post.user_level)
                                    |  #{post.post_created}
                        .w-10.text-right #{post.total_replies}
                            i.far.fa-comment-alt.ml-5
                        //-.w-15.d-flex.align-items-start
                            +mod-user(post.post_user, post.user_id, post.last_login)
                        //-.w-15.text-right #{post.post_created}
                .pagination-container.mt-15