extends ../forum-layout

block content
    section.section-container
        h2 
            a(href='/forums/' + category.toLowerCase().replace(' ', '_')) #{category}
            i.fas.fa-lg.fa-angle-right.mr-10.ml-10
            - var keyCheck = /General$/
            if !keyCheck.test(topic_title)
                a(href='/subforums/' + topic_title.toLowerCase().replace(' ', '_')) #{topic_title}
                i.fas.fa-lg.fa-angle-right.mr-10.ml-10
            | #{title}
        if user
            if status === 'Open' && user.user_status === 'Active'
                .post-control
                    button#new-post-button.mb-15(type='button') NEW POST
                form#post-form.mb-15(action='/post', method='POST')
                    input(type='hidden', name='subtopic_id', value=subtopic_id)
                    label(for='title') Title
                    .d-flex.mb-15
                        input.w-100(type='text', name='title', required)
                    .mb-15
                        textarea.w-100(name='post_body', rows='10', required, minlength='10')
                    .text-right
                        input.mr-5(type='submit', name='submit_button', value='Submit')
                        input(type='reset', value='Clear')
            else
                .error.mb-15 This subtopic is currently closed and is read only. Please check back later.
        if posts.length > 0
            section
                if posts.length > 25
                    .pagination-container.mb-15
                each post, i in posts
                    .col.forum-post-row
                        .w-10
                            +vote(post)
                        .w-80.show-posts
                            a(href='/forums/posts/post-details?pid=' + post.post_id + '&page=1') #{post.post_title}
                            if post.post_status === 'Closed'
                                span.user-badge.error-badge.ml-5 #{post.post_status}
                            div
                                small Posted by 
                                    +mod-user(post.post_user, post.user_id, post.last_login)
                                    |  #{post.post_created}
                        .w-10.text-right #{post.total_replies} Replies
                        //-.w-15.d-flex.align-items-start
                            +mod-user(post.post_user, post.user_id, post.last_login)
                        //-.w-15.text-right #{post.post_created}
                if posts.length > 25
                    .pagination-container.mt-15